@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@400;700&display=swap");
@import "var";

* {
    font-family: $font-family1;
    font-size: 16px;
    color: #fff;
}

body,
html {
    min-height: 100%;
}

.wrapper {
    margin: 0 auto;
    min-width: 100%;
    .header {
        padding: 30px 120px;
        width: 100%;
        min-height: 100vh;
        background: url(/header.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @media screen and (max-width: 768px) {
            & {
                padding: 30px 40px;
            }
        }
        .header__main {
            flex: 0 1 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 240px 0;
            @media screen and (max-width: 768px) {
                & {
                    // padding: 30px 40px;
                }
            }
            .header__menu {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;

                    &:first-child {
                        padding-right: 20px;
                    }
                }
            }
        }

        .header__content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-weight: 800;
                font-size: 55px;
                line-height: 67px;
                text-align: center;
                margin: 0 0 30px 0;
            }

            p {
                font-size: 21px;
                line-height: 26px;
                text-align: center;
                margin: 0 0 30px 0;
                @media screen and (max-width: 768px) {
                    & {
                        width: 80%;
                    }
                }
            }

            .header__buttons {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                margin: 0 0 100px 0;

                button:hover {
                    background-color: #000;
                }
                @media screen and (max-width: 768px) {
                    & {
                        width: 100%;
                    }
                }
                @media screen and (max-width: 500px) {
                    & {
                        flex-direction: column;
                    }
                }
                button  {
                    padding: 20px;
                    transition: 0.5s all ease;
                    margin: 0 15px;
                    color: $color1;
                    &:hover {
                        color: #fff;
                        background-color: $color1;
                    }
                    @media screen and (max-width: 768px) {
                        & {
                            width: 50%;
                        }
                    }
                    @media screen and (max-width: 500px) {
                        & {
                            width: 70%;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
    }

    //
    .phone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        @media screen and (max-width: 768px) {
            & {
                display: none;
            }
        }
        .phone__title {
            padding: 70px 120px;
            background: url(/bg_phone.jpg) no-repeat center;
            background-attachment: fixed;
            background-size: cover;
            min-width: 100%;
            height: 750px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            @media screen and (max-width: 500px) {
                & {
                    height: fit-content;
                }
            }
            h2 {
                font-weight: 800;
                font-size: 40px;
                line-height: 49px;
                display: flex;
                text-align: center;
                margin: 0 0 30px 0;
                @media screen and (max-width: 500px) {
                    & {
                        width: 100%;
                    }
                }
            }

            p {
                width: 50%;
                font-size: 21px;
                line-height: 26px;
                text-align: center;
                @media screen and (max-width: 500px) {
                    & {
                        width: 100%;
                    }
                }
            }
        }

        .phone__img {
            transform: translateY(-300px);
            @media screen and (max-width: 500px) {
                & {
                    display: none;
                }
            }
            img {
                max-width: 100%;
            }
        }

        .phone__items {
            margin: -250px 0 100px 0;
            padding: 70px 120px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                & {
                    padding: 30px 40px;
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }
            @media screen and (max-width: 500px) {
                & {
                    margin: 20px 0 50px 0;
                }
            }
            .phone__item {
                padding: 15px;
                margin: 0 15px;
                flex: 0 1 33.3333%;
                border-top: 4px solid $color1;
                @media screen and (max-width: 768px) {
                    & {
                        margin-top: 20px;
                    }
                }
                @media screen and (max-width: 500px) {
                    & {
                        width: 100%;
                    }
                }
                h2 {
                    color: $color5;
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 30px;
                }

                p {
                    padding: 15px 0 0 0;
                    color: $color5;
                    font-family: "Raleway";
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22px;
                    color: $color4;
                }

                &:first-child {
                    border-top: 4px solid $color3;
                }

                &:last-child {
                    border-top: 4px solid $color2;
                }
            }
        }
    }

    //
    .price {
        padding: 120px 70px;
        min-width: 100%;
        background-color: $color1;
        @media screen and (max-width: 768px) {
            & {
                padding: 30px 40px;
            }
        }
        .price__title {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 0 0 60px 0;

            h2 {
                font-weight: 800;
                font-size: 40px;
                line-height: 49px;
                display: flex;
                align-items: center;
                text-align: center;
            }

            p {
                width: 50%;
                margin: 30px 0 0 0;
                font-size: 21px;
                line-height: 26px;
                text-align: center;
            }
        }

        .price__items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and (max-width: 768px) {
                & {
                    width: 100%;
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }
            .price__item {
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                flex: 0 1 33.3333%;
                margin: 0 15px;
                transition: 0.5s all ease;
                background-color: #000;
                @media screen and (max-width: 768px) {
                    & {
                        margin-top: 50px;
                        width: 70%;
                    }
                }
                @media screen and (max-width: 500px) {
                    & {
                        width: 100%;
                    }
                }
                &:hover {
                    transform: scale(1.1);
                }
                .price__name {
                    background-color: $color5;
                    p {
                        padding: 20px;
                        font-size: 14px;
                        line-height: 17px;
                        text-align: center;
                    }
                }

                .price__cost {
                    background-color: rgb(41, 41, 41);
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    transition: 0.5s all ease;

                    span {
                        font-weight: 700;
                        font-size: 35px;
                        line-height: 43px;
                        text-align: center;

                        &:last-child {
                            color: $color4;
                            font-weight: 400;
                        }
                    }
                }

                .price__description {
                    background-color: #fff;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    p {
                        border-bottom: 1px dashed $color7;
                        width: 100%;
                        padding: 15px 10px;
                        color: #000;
                        font-family: $font-family2;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 22px;
                        text-align: center;

                        &:first-child {
                            color: $color4;
                            font-weight: 400;
                        }
                    }

                    button {
                        width: 100%;
                        background-color: rgb(218, 218, 218);
                        color: $color1;
                        padding: 15px 10px;
                        font-family: $font-family2;
                        font-weight: 700;
                        font-size: 17px;
                        line-height: 22px;
                        text-align: center;
                        transition: 0.5s all ease;

                        &:hover {
                            background-color: rgb(197, 197, 197);
                        }
                    }
                }
            }
        }
    }

    .footer {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 200px 0;
        background-color: $color6;
        @media screen and (max-width: 768px) {
            & {
                padding: 30px 40px;
            }
        }
        .footer__img {
            padding: 30px;
            margin: 0 0 30px 0;
            border-radius: 50%;
            border: 3px solid $color1;
            img {
                min-width: 100%;
            }
        }

        .footer__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2 {
                font-weight: 800;
                font-size: 40px;
                line-height: 49px;
                display: flex;
                text-align: center;
                color: $color5;
            }

            p {
                width: 50%;
                margin: 30px 0 0 0;
                font-size: 21px;
                line-height: 26px;
                display: flex;
                align-items: center;
                text-align: center;
                color: $color5;
            }
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 60px 0 0 0;
            input {
                width: 30%;
                margin: 0 0 30px 0;
                padding: 10px 15px;
                color: #000;
                transition: 1s all ease;
                @media screen and (max-width: 768px) {
                    & {
                        width: 60%;
                    }
                }
                @media screen and (max-width: 500px) {
                    & {
                        width: 90%;
                    }
                }
                &:focus {
                    box-shadow: 0px 10px 20px rgb(182, 182, 182);
                }
            }
            button {
                padding: 20px;
                background-color: $color1;
                transition: 1s all ease;
                &:hover {
                    color: $color1;
                    background-color: #fff;
                }
                @media screen and (max-width: 768px) {
                    & {
                        width: 30%;
                    }
                }
                @media screen and (max-width: 500px) {
                    & {
                        width: 70%;
                    }
                }
            }
        }
    }
    .social {
        min-width: 100%;
        padding: 100px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 768px) {
            & {
                padding: 40px 30px;
                flex-direction: column;
                justify-content: center;
            }
        }
        .social__text {
            @media screen and (max-width: 768px) {
                & {
                    margin-bottom: 30px;
                }
            }
            p {
                font-size: 21px;
                line-height: 26px;
                color: $color4;
            }
        }
        .social__images {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .social__img {
                margin: 0 10px;
            }
        }
    }
}

.after::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    border-radius: 20px;
    border: 3px solid #fff;
    transition: 0.5s all;
    background-color: rgba(255, 255, 255, 0.3);
}
.before::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s all;
}
.before2::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s all;
}
