*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
input,button{
    outline: none;
    border: none;
}
a{
    outline: none;
    border: none;
    text-decoration: none;
    color: #fff;
}